:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333
}

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color:#fff;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 739px) {
    /* For mobie: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
   
    .slide-content-left img{
        max-width: 100%;
    }
    .slide-content-right img{
        max-width: 100%;
    }
    .content1{
        flex-direction: column;
    }
    .container{
        margin-top: 10px;
    }
    .docquyen{
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 0px;
        left:80px;
        
    }.nav_bar-btl{
        display: block;
       
    }
    .navbar-item-link{
        display: none;
    }
    .logo{
        display: none;
    }
    .search{
       margin: -35px 50px;
    }
    .cart{
        display: none;
    }
    .header{
        height: 80px;
    }
    .search-bar{
        height: 30px;
    }
    .search-button{
        height: 24px;
        width: 45px;
    }
  
}
.nav_overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}
.navbar-mb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 250px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all linear 0.2s;
    background-color: rgba(255, 218, 0, 1);
    text-align: center;
}

.navbar-mb-list{
    margin-top: 30px;
}
.navbar-mb-item-link{
    text-decoration: none;
    color:#333 ;
    display: block;
    font-size: 1.4rem;
    padding: 0 10px;
}
.brand-mb-list{
    padding: 20px 20px 0;
}
.list2{
    padding-bottom: 15px;
    font-size: 15px;
}
.close{
    font-size: 2rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav-input:checked ~ .nav_overlay{
    display: block;
}
.nav-input:checked ~ .navbar-mb{
    transform: translateX(0%);
}

/* Footer */

.first-footer {
    display: flex;
    padding: 10px 0;
    background-color: white;
    margin: 20px 0 0 0;
}
.first-footer-item {
    flex: 1;
    text-align: center;
}

.first-footer-img {
    width: 12%;
}

.first-footer-content {
    color: var(--text-color);
    font-size: 1.6rem;
}

.second-footer {
    background-color: white;
    display: flex;
    justify-content:space-around;
}

.second-footer-item {
    width: 40%;
}

.second-footer-item > h1 {
    text-align: center;
    font-size: 3.0rem;
    font-weight: 500;
    padding: 20px 0;
}

.second-footer-item > p {
    font-size: 1.5rem;
    line-height: 4.0rem;
    font-weight: 400;
}

.footer-logo {
    display: flex;
    justify-content: space-around; 
}

.footer-logo-item {
    width: 10%;
    cursor: pointer;
}

.footer-logo-img {
    width: 100%;
}
